body{
    font-family: 'Nunito';
    margin: 10px;
}

#button{
    background-color: #EC4067;
    box-sizing: border-box;
    border: 0 solid;
    border-radius: 0.2em;
    margin-left: 10px;
    padding: 10px 20px;
    color: white;
  
  }


     /* NAVIGATION */
.navigation li{
    float: left;
    display: block;
    font-size: 1.4em;
    margin: 10px;
    padding: 8px 0px;
    
}

.navigation li:first-child{
    font-size: 2em;
    margin-right: 30%; 
    font-weight: 600; 
}

#moringa{
    color: #EC4067;
    margin-right: 10px;
}


        /* SECTION ONE */

.container{
    padding: 200px 80px 80px;
}

.container-text{
    display: inline-block;
    width: 46%;
    height: 400px;
    padding-top: 40px;
    padding-left: 40px;
}
.container-text h2{
    font-weight: 400;
    margin-bottom: 0;
}

.container-text h2{
    font-size: 1em;
}

.tag-line{
    color: #EC4067;
    font-size: 2.3em;
    margin: 10px 0 0;
}

.container-text li{
    float: left;
    display: block;
    font-size: 1.2rem;
    background-color: #EC4067;
    box-sizing: border-box;
    border: 0 solid;
    border-radius: 0.2em;
    color: white;
    margin-right: 25px;
    padding: 6px 15px;
   
}

#explore-text{
    padding: 6px 35px;
    background-color: white;
    border: 1px solid #EC4067;
    color: #EC4067;
}
.container-text ul{
    padding: 30px 0 0;
}
.container-image{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding: 0%;    
}

             /* SECTION TWO */

#orientation{
    padding: 20px 80px;
}

#orientation p{
    display: inline-block;
}

.orientation-text h2{
    margin-bottom: 0;
    font-weight: 600;
}
.orientation-image{
    display: inline-block;
    width: 45%;
}

.orientation-text{
    display: inline-block;
    width: 38%;
    vertical-align: top;
    padding-top: 80px;
    font-size: medium;
}

.stories{
    font-weight: 400;
    font-size: 1.5em;
}
.stori{
    background-color: rgb(211, 211, 211);
}