body{
    font-family: 'Nunito';
    margin: 10px;
}

#button{
    background-color: #EC4067;
    box-sizing: border-box;
    border: 0 solid;
    border-radius: 0.2em;
    margin-left: 10px;
    padding: 10px 20px;
    color: white;
  
  }


     /* NAVIGATION */
.navigation li{
    float: left;
    display: block;
    font-size: 1.4em;
    margin: 10px;
    padding: 8px 0px;
    
}

.navigation li:first-child{
    font-size: 2em;
    margin-right: 30%; 
    font-weight: 600; 
}

#moringa{
    color: #EC4067;
    margin-right: 10px;
}


        /* SECTION ONE */

.container{
    padding: 200px 80px 80px;
}

.container-text{
    display: inline-block;
    width: 46%;
    height: 400px;
    padding-top: 40px;
    padding-left: 40px;
}
.container-text h2{
    font-weight: 400;
    margin-bottom: 0;
}

.container-text h2{
    font-size: 1em;
}

.tag-line{
    color: #EC4067;
    font-size: 2.3em;
    margin: 10px 0 0;
}

.container-text li{
    float: left;
    display: block;
    font-size: 1.2rem;
    background-color: #EC4067;
    box-sizing: border-box;
    border: 0 solid;
    border-radius: 0.2em;
    color: white;
    margin-right: 25px;
    padding: 6px 15px;
   
}

#explore-text{
    padding: 6px 35px;
    background-color: white;
    border: 1px solid #EC4067;
    color: #EC4067;
}
.container-text ul{
    padding: 30px 0 0;
}
.container-image{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding: 0%;    
}

             /* SECTION TWO */

#orientation{
    padding: 20px 80px;
}

#orientation p{
    display: inline-block;
}

.orientation-text h2{
    margin-bottom: 0;
    font-weight: 600;
}
.orientation-image{
    display: inline-block;
    width: 52%;
}

.orientation-text{
    display: inline-block;
    width: 38%;
    vertical-align: top;
    padding-top: 80px;
    font-size: medium;
}

.stories{
    font-weight: 400;
    font-size: 1.5em;
}
.stori{
    background-color: rgb(211, 211, 211);
}

                 /* SECTION THREE */


.board-meeting-text{
    display: inline-block;
    width: 44%;
    height: 256px;
    vertical-align: top;
    padding-top: 30px;
    padding-left: 25px;
}

.board-meeting-image{
    display: inline-block;
    width: 53%;
}

.container #button{

     width: 160px;
     margin: 0px;
}


                       /* SECTION FOUR */
#graduation-image{
    display: inline-block;
    width: 46%;
}

#graduation-text{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding-top: 30px;
}

.container #graduation-text #btn{
    background-color: #EC4067;
    border: 0 solid;
    border-radius: 0.2em;
    color: white;
    width: 100px;
    padding: 10px;

  
}

    /* SECTION FOUR */
.technical-mentor-image{
    height: 200px;
    width: 250px;
}

.grid-container{
    display: flex;
    width: 100%;
    height: 500px;
    grid-template-columns: auto;
    justify-content: center;
    padding: 20px;
}

.grid-item{
    width: 300px;
    display: inline-block;
    padding: 20px;

}

.grid-item h3{
    color: #EC4067;
    padding: 5px 10px;
}

.grid-item p{
    padding: 0px 10px;
}

.technical-mentors{
    font-size: 2.3em;
    font-weight: 580;

}

.tech{
    background-color: rgb(211, 211, 211);
}

.grid-item #button{
    width: 130px;
    padding: 5px;
    justify-content: center;
}


/* SECTION FIVE */

.project{
    font-size: 2em;
    font-weight: 600px;
    margin: 10px;
}

.project-text{
    width: 36%;
    height: 381px;
    display: inline-block;
    vertical-align: top;
}

.project-image{
    display: inline-block;
    width: 50%;
}

.cool-bike{
    font-size: 2.5em;
    margin: 30px 0px;
    color: #EC4067;
}

.proje{
    background-color: rgb(211, 211, 211);
}

                 /* SECTION SIX */
.still-not-sure{
    font-size: 2.5em;
    color: #EC4067;
    margin: 0;
}
.go-ahead{
    font-size: 1.5em;
}

.contact-us{
    color: #EC4067;
}

                    /* FOOTER */
footer p{
    text-align: center;
    background-color: rgb(211, 211, 211);
    height: 200px;
    line-height: 200px;
    vertical-align: middle;
}

.fa fa-heart{
 color: red;
}